# Intro to Notebooks & Python

# Basic Functionality and Syntax:

Cells:

Play/ Pause

## Markdown:

Write Hello My name is _______ in Markdown

# Heading

Use markdown with #

Test your own:

#### Print Statements

In [8]:
print("Hello, world")

Hello, world

Print "Hello, my name is ___"

### Code Comments

Use the # symbol in

### Type

Check type() for 'string', 6 and 3.14

# Variables:

In this section we will briefly touch on how to set variables.

Numeric: Integer/float

In [26]:
x = 5

In [28]:
print(x)

5

In [35]:
type(x)

int

Make pi = 3.14

String

In [31]:
greeting = 'Hello, World!' # or "Hello, World!"

# Variable Practice:

1) Set a variable to your name and print:

2. Set a variable to your age and print name and age together:

# Sequence Types:

# Lists:

Lists: Ordered, mutable collection

In [53]:
number_list = [1,3,5,2,4]

In [55]:
print(number_list)

[1, 3, 5, 2, 4]

Determine the length of the list:

In [58]:
len(number_list)

5

Adding to a list with .append()

In [61]:
number_list.append(6)

In [63]:
print(number_list)

[1, 3, 5, 2, 4, 6]

Selecting variable from list starting with 0

In [66]:
number_list[0]

1

In [66]:
number_list[1]

3

Selecting from end of list with negative counts.

In [68]:
number_list[-1]

6

In [68]:
number_list[-3]

2

Order a list: with .sort()

In [77]:
number_list.sort()

#print list to check
print(number_list)

[1, 2, 3, 4, 5, 6]

split the list using list[:3]

In [82]:
first_3_numbers = number_list[:3]
print(first_3_numbers)

[1, 2, 3]

# List Practice:

Create a list of your favorite foods:

In [70]:
foods = ["pizza", "burger", "brownies", "pancakes"]

print your list

In [72]:
print(foods)

['pizza', 'burger', 'brownies', 'pancakes']

Print the first and last element of your list.

In [74]:
#First element:
foods[0]

'pizza'

In [76]:
#last element
foods[-1] #or foods[3]

'pancakes'

Order your list alphabetically

In [78]:
foods.sort()
print(foods)

['brownies', 'burger', 'pancakes', 'pizza']

# Tuples:

Tuples are Immuntable (can't change)

In [86]:
name_tuple = ('Jim', 'John', 'Jane')

In [88]:
type(name_tuple)

tuple

In [90]:
name_tuple[1]

'John'

In [94]:
#name_tuple[0] = 'Sam'

# Tuple Practice:

Create a tuple using elements 1,2,3,4,5.

In [80]:
tuple = (1,2,3,4,5)

Print the length of the tuple

Unpack the following tuple so that variable name, age and profession:

In [84]:
person = ("John", 30, "Crypto Analyst")

# Dictionary

Dictionary have key values and pairs.
Use {} for dictionaries

In [99]:
my_dict = {
    "name": "John",
    "age": 25    
}

In [101]:
print(my_dict)

{'name': 'John', 'age': 25}

Crypto Portfolio Example:

In [32]:
crypto_portfolio = {
    "Alice": {"Bitcoin": 1.5, "Ethereum": 10.0, "Cardano": 500.0},
    "Bob": {"Bitcoin": 0.75, "Ethereum": 5.5, "Solana": 200.0},
    "Charlie": {"Bitcoin": 2.0, "Ripple": 1000.0, "Dogecoin": 15000.0},
    "Diana": {"Ethereum": 8.0, "Polkadot": 150.0, "Cardano": 300.0},
    "Evan": {"Bitcoin": 0.5, "Ethereum": 2.0, "Litecoin": 50.0},
}

# Print the dictionary
print(crypto_portfolio)

{'Alice': {'Bitcoin': 1.5, 'Ethereum': 10.0, 'Cardano': 500.0}, 'Bob': {'Bitcoin': 0.75, 'Ethereum': 5.5, 'Solana': 200.0}, 'Charlie': {'Bitcoin': 2.0, 'Ripple': 1000.0, 'Dogecoin': 15000.0}, 'Diana': {'Ethereum': 8.0, 'Polkadot': 150.0, 'Cardano': 300.0}, 'Evan': {'Bitcoin': 0.5, 'Ethereum': 2.0, 'Litecoin': 50.0}}

Get Alices bitcoin amount:

In [34]:
print(crypto_portfolio["Alice"]["Bitcoin"])

1.5

Add Binance Coin to Bob's Portfolio:

In [37]:
crypto_portfolio["Bob"]["Binance Coin"] = 10.0
print(crypto_portfolio["Bob"])

{'Bitcoin': 0.75, 'Ethereum': 5.5, 'Solana': 200.0, 'Binance Coin': 10.0}

Create a list of all the bitcoin holdings in our dictionary:

In [45]:
# Create a list of Bitcoin holdings (numerical values only)
bitcoin_list = []

# Loop through the crypto_portfolio dictionary
for portfolio in crypto_portfolio.values():
    # Check if Bitcoin is in the portfolio and add its value, else add 0
    bitcoin_list.append(portfolio.get("Bitcoin", 0))

# Print the list of Bitcoin holdings
print(bitcoin_list)

[1.5, 0.75, 2.0, 0, 0.5]

Get the total bitcoin count in the dictionary:

In [62]:
btc_total = sum(bitcoin_list)
print("Total Bitcoin Holdings: ", btc_total)

# or 

print("Total Bitcoin Holdings: " + str(btc_total))

Total Bitcoin Holdings:  4.75
Total Bitcoin Holdings: 4.75

# Booleans:

True or False

In [107]:
Student = True

In [109]:
type(Student)

bool

Booleans can be used for a lot of if statements etc.

Weather Example:

In [65]:
#Weather: 
is_sunny = True
is_raining = False

print(is_sunny)
print(is_raining)

True
False

Example: "and" Operator:

In [68]:
is_sunny = True
is_warm = True

is_good_day = is_sunny and is_warm
print(is_good_day)

True

Example: "or" operator

In [72]:
is_sunny = True
is_warm = False
is_good_day = is_sunny or is_warm
print(is_good_day)

True

Example: "not" Operator

In [75]:
is_sunny = True
is_not_sunny = not is_sunny
print(is_not_sunny)

False

Boolean Conditions:

In [79]:
is_sunny = True
is_raining = False

if is_sunny and not is_raining:
    print("It's a nice day!")  
else:
    print("Maybe stay indoors.")

It's a nice day!

# Arithmetic

### Basic Math

Addition use +, Subtraction use -, Multiplication use *, Division use /

In [118]:
x,y = 5,3

In [120]:
z = x + y 
z

8

In [122]:
z = x - y
z

2

In [126]:
z = x * y
z

15

In [128]:
z = x / y
z

1.6666666666666667

# Practice:

Take this time to make your own equations and print the answer

In [101]:
#Addition

In [103]:
#Subtraction

In [105]:
#Multiplication

In [107]:
#Division

# Arithmetic 2

#### Floor Division (//) : returns the whole number quotient

In [146]:
x,y = 25,7
z = x//y
print(z) # or you can use print(x//y)

3

#### Modulus (%): returns the remainder division

In [149]:
remainder = x % y
print(remainder) #or print(x%y)

4

In [157]:
#combined =
print(str(x) + ' divided by '+ str(y) +':')
print(z, ' remainder: ', remainder)

25 divided by 7:
3  remainder:  4

##### Exponents use: **

In [162]:
e = 2**2
e

4

In [164]:
e2 = 2**3
e2

8

Square root use math package and math.sqrt

In [109]:
import math

# Calculate the square root of a number
number = 16
sqrt_value = math.sqrt(number)
print(sqrt_value)

4.0

#### Practice

Floor Division 20 and 3

Modulus (remainder) 20 and 3

Exponents: 9 squared

Square root of 144

# Compound Assignment Operators

Operators that will perform functions

Addition: +=

In [186]:
x = 10
x += 5
x

15

Subtraction -=

In [189]:
# x = 15 from before
x -= 6
x

9

Multiplication *=

In [192]:
# x = 9 from before
x *= 4
x

36

Division /=

In [194]:
# x = 36 from before
x /= 6
x

6.0

# Comparison & Conditional statements

Great than less than = too

In [199]:
x,y = 10,20

In [201]:
x > y #Greater or equal to x >= y

False

In [203]:
x < y #Less than or equal toox <= y

True

In [205]:
x == y

False

In [209]:
x != y

True

# If Statements

if will execute block if condition is met. ELIF exectutes if a different condition is met, else will execute if the if statement is not met.

In [219]:
x,y = 11,20

In [221]:
if x < 15:
    print('x is less than 15')

x is less than 15

In [223]:
if x == y:
    print('x is equal to y.')
elif x < y: 
    print('x is less than y.')

x is less than y

In [225]:
if x % 2 == 0:
    print('x is even.')
else:
    print('x is odd.')

x is odd.

# Logical & Identity Operators

'and' for multiple conditions, 'or' for one of multiple conditions,
'not' reverse the results

In [230]:
x, y = 9, 2

In [232]:
if x > 5 and y < 5:
    print('5 is between x and y')

5 is between x and y

In [234]:
if x > 4 or y > 4:
    print('One of the variables is greater than 4')

One of the variables is greater than 4

Identity operators is and is not

In [236]:
print(x is y)

False

In [238]:
print(x is not y)

True

# Functions

A function is a block of organized, resuable code that performs a related action.

In [152]:
#start with def function():
def greet():
    print('Hello there')

In [157]:
#call function:
greet()

Hello there

Pass parameters in

In [159]:
def greet(name):
    print('Hello my name is ' + name)

In [161]:
greet("Jerry")

Hello my name is Jerry

In [ ]:
#Add 100 to x

In [163]:
def add100(x):
    x+=100
    print(x)

In [165]:
add100(20)

120

In [167]:
add100(54)

154

# Classes

In [274]:
class Dog:
    def __init__(self,name,age):
        self.name = name
        self.age = age


    def bark(self):
        print(self.name + ' barks!')
    
my_dog = Dog('Max',3)
my_dog.bark()

Max barks!

# Loops

While loops rune continutously unless a condition is met

In [169]:
count = 0 
while count < 10:
    count += 2
    print(count)

2
4
6
8
10

For loops are used to iterate over a sequence executes a block of code for each item.

In [282]:
office_items = ['pen','laptop','desk']
for item in office_items:
    print(item)

pen
laptop
desk

In [289]:
for i in range(0,100,25): #First number starting point, 2nd end point (non-inclusive), 3rd Intervals
    print(i)

0
25
50
75

'break': How to break out of a loop:

In [311]:
name_list = ['Tom', 'John', 'Monica','Sarah','Tony']
for name in name_list:
    if name == 'Sarah':
        print(name + ' was found in this list.')
        break

Sarah was found in this list.

Continue will skip the current iteration & continue to the next one

In [316]:
#loop skips even numbers
for i in range(10):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

In [318]:
#Nested loops inside of loops
for i in range(3):
    for j in range(3):
        print('i: ',i, ' j: ', j)

i:  0  j:  0
i:  0  j:  1
i:  0  j:  2
i:  1  j:  0
i:  1  j:  1
i:  1  j:  2
i:  2  j:  0
i:  2  j:  1
i:  2  j:  2

# packages

In [ ]:
#installation: pip install numpy

In [323]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt  # For plotting

# We will learn to use these packages later